<style>
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 40%;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

input,
textarea {
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


</style>
<a class="btn btn-info" href="/brand/add">Add new brand</a>
<a class="btn btn-danger" href="/brand/deleteall">Delete all</a>
<br><br>
<table class="table table-secondary">
   <tr>
      <th>Brand name</th>
      <th>Brand country</th>
      <th colspan="2">Menu</th>
   </tr>
   {{#each brands }}
   <tr>
      <td>
         <a href="/brand/detail/{{ _id }}">
            {{ name }}
         </a>
      </td>
      <td>{{ country }}</td>
      <td>
         <a class="btn btn-warning" href="/brand/edit/{{ _id }}">Edit</a>
      </td>
      <td>
         <a class="btn btn-danger" href="/brand/delete/{{ _id }}"
         onclick="return confirm('Are you sure to delete this brand ?');"
         >Delete</a>
      </td>
   </tr>
   {{/each}}
</table>